@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /*background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg) , url(./images/bg-pattern-bottom.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat,no-repeat;
    background-size: 50%,50%;*/

    background: url(./images/bg-pattern-top.svg) calc((50vw - 100vh)) -50vh no-repeat,
    url(./images/bg-pattern-bottom.svg) 50vw 50vh no-repeat hsl(185, 75%, 39%);
  background-size: auto 100vh;

}
main {
    background-color: white;
    background-image: url(./images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

footer {
    margin: 2em;
}

img{
    border-radius: 50%;
    border: 5px solid white;
    margin: 2.5em 0 0.5em 0;
}

#name{
    display: flex;
    flex-direction: row;
    margin: 1em 0 0.5em 0;
    justify-content: space-between;
    align-items: center;
}

#name h1{
    font-weight: 700;
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    margin: 0 0.5em 0 0;
}

#name p{
    font-weight: 400;
    color: hsl(0, 0%, 59%);  
}

#top p{
    font-weight: 400;
    color: hsl(0, 0%, 59%);  
    font-size: 0.7em;  
}

hr{
    width: 100%;
    background-color: hsl(0, 0%, 59%);
    border: none;
    height: 1px;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
}

#bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}
.title{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.stats{
    font-weight: 400;
    font-size: 0.7em;
    margin-top: 0.5em;
    color: hsl(0, 0%, 59%);
}
